<!DOCTYPE html>
<html ng-app="exampleApp">
<head lang="en">
    <!--<base href="/exampleApp/www/"/>-->
    <base href="/exampleApp/www/"/>
    <script src="angular.js"></script>
    <meta charset="UTF-8">
    <title>Dom Api Services</title>
    <link rel="stylesheet" href="bootstrap.css"/>
    <link rel="stylesheet" href="bootstrap-theme.css"/>
    <script>
        angular.module('exampleApp', [])
                .config(['$locationProvider', function ($locationProvider) {
                    // use pretty urls ;-)

                    if (window.history && history.pushState) {
                        $locationProvider.html5Mode(true);
                    }
                }])
        .controller('defaultCtrl', ['$scope', '$window', '$document',
                    '$interval','$location','$log',
            function ($scope, $window, $document, $interval,$location,$log) {

//            $scope.displayAlert = function (msg) {
//                $window.alert(msg);
//            };

                $document.find("button").on("click", function (event) {
                    $window.alert(JSON.stringify(event.target.innerHTML));
                });

                $interval(function () {
                    $scope.time = new Date().toTimeString();
                }, 2000);

                // NOTE: $locationChangeSuccess is only fired on page loads
                // not on calling $any $location.xxx() setters !!!
                $scope.$on("$locationChangeSuccess", function (event, newUrl) {

                    $scope.url = newUrl;
                    // lets have a quick look ;-)
                    $log.error("IN $ON $locationChangeSuccess hash: " + $location.hash());
                    $log.error("IN $ON $locationChangeSuccess host: " + $location.host());
                    $log.error("IN $ON $locationChangeSuccess path: " + $location.path());
                    $log.error("IN $ON $locationChangeSuccess port: " + $location.port());
                    $log.error("IN $ON $locationChangeSuccess protocol: " + $location.protocol());
                    $log.error("IN $ON $locationChangeSuccess search: " + $location.search());
                    $log.error("IN $ON $locationChangeSuccess url: " + $location.url());
                    $log.error("IN $ON $locationChangeSuccess absUrl: " + $location.absUrl());

                });

                $scope.setUrl = function (component) {
                    switch (component) {
                        case "reset":
                            $location.path("");
                            $location.hash("");
                            $location.search("");
                            break;
                        case "path":
                            $location.path("/cities/london");
                            break;
                        case "hash":
                            $location.hash("north");
                            break;
                        case "search":
                                $location.search("select","hotels");
                            break;
                        case "url":
                                $location.url("/cities/london?select=hotels#north");
                            break;
                        default:
                            break;
                    }
                    // lets have a quick look usinging the $log service
                    $log.log("IN setUrl  hash: " + $location.hash());
                    $log.warn("IN setUrl  host: " + $location.host());
                    $log.debug("IN setUrl  path: " + $location.path());
                    $log.info("IN setUrl  port: " + $location.port());
                    $log.log("IN setUrl  protocol: " + $location.protocol());
                    $log.warn("IN setUrl  search: " + $location.search());
                    $log.info("IN setUrl  url: " + $location.url());
                    $log.error("IN setUrl  absUrl: " + $location.absUrl());

                };
        }]);
    </script>
</head>
<body ng-controller="defaultCtrl" class="well">

<div class="panel panel-default">
    <h4 class="panel-heading">URL</h4>

    <div class="panel-body">
        <p>The URL is: {{ url }}</p>

        <div class="btn-group">
            <button class="btn btn-primary" ng-click="setUrl('reset')">Reset</button>
            <button class="btn btn-primary" ng-click="setUrl('path')">Path</button>
            <button class="btn btn-primary" ng-click="setUrl('hash')">Hash</button>
            <button class="btn btn-primary" ng-click="setUrl('search')">Search</button>
            <button class="btn btn-primary" ng-click="setUrl('url')">URL</button>
        </div>
    </div>
</div>

<div class="panel panel-default">

    <h4 class="panel-heading">Time</h4>

    <div class="panel-body">The time is: {{time}}</div>
</div>

<!--<button class="btn btn-primary" ng-click="displayAlert('Clicked!')">Click Me</button>-->
<button class="btn btn-primary">Click Me</button>
</body>
</html>